doctype html 
html 
    head
        block head
            title Natours | #{title}
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width,initial-scale=1.0')
            link(rel='stlesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    body
        //header
        include _header
        
        //content
        block content
            h1 place holder

        include _footer
    
    <script src="https://js.stripe.com/v3/"></script>
    script(src='/js/bundle.js')























    
    //- script(src='/js/login.js')
    //- script(src="https://unpkg.com/axios/dist/axios.min.js")
    //- script(src='https://cdn.jsdelivr.net/npm/vue-axios@3.5.2/dist/vue-axios.esm.min.js')
        
//- <div class="footer">
//-       <div class="footer__logo">
//-         <img src="img/logo-green.png" alt="Natours logo" />
//-       </div>
//-       <ul class="footer__nav">
//-         <li><a href="#">About us</a></li>
//-         <li><a href="#">Download apps</a></li>
//-         <li><a href="#">Become a guide</a></li>
//-         <li><a href="#">Careers</a></li>
//-         <li><a href="#">Contact</a></li>
//-       </ul>
//-       <p class="footer__copyright">
//-         &copy; by Jonas Schmedtmann. All rights reserved.
//-       </p>
//-     </div>
